<div class="container">
    <h4>Modifier l'événement n° {{event.id}} :
        {{event.title}}
        <small class="text-muted">(dernière modification
            {{event.updated_at.fromNow()}})</small>
    </h4>
    <div class="well">
        <form name="addEventForm" ng-submit="editEvent(event)">
            <div class="form-group">
                <label for="etitle" tooltip="Le titre de l'événement doit contenir le nom et l'année de l'événement.">Titre</label>
                <input class="form-control" id="etitle" name="eTitle" ng-model="event.title" required type="text"></input>
            </div>
            <div class="form-group">
                <label for="edescription" tooltip="Bref récapitulatif de l'événement, avec éventuellement quelques faits marquants.">Description</label>
                <textarea class="form-control" id="edescription" ng-model="event.description" type="textarea"></textarea>
            </div>
            <jtx-tag-input ng-model="event.tags"></jtx-tag-input>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ebegindate">Date de début</label>
                        <input class="form-control" name="eBeginDate" ng-model="event.beginDate_f" placeholder="{{now.format('YYYY-MM-DD')}}" required type="date"/>
                    </div>
                    <div ng-show="addEventForm.$submitted || addEventForm.eBeginDate.$touched">
                        <div ng-show="addEventForm.eBeginDate.$error.pattern">
                            <alert type="danger">Il faut rentrer une date.</alert>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="ebegindate">Heure de début</label>
                        <input class="form-control" name="eBeginHour" ng-model="event.beginTime_f" ng-pattern="/^([0-1][0-9]|2[0-3])\:[0-5][0-9]$/" placeholder="{{now.format('HH:MM')}}" required></input>
                    </div>
                    <div ng-show="addEventForm.$submitted || addEventForm.eBeginHour.$touched">
                        <div ng-show="addEventForm.eBeginHour.$error.pattern">
                            <alert type="danger">Il faut rentrer une heure.</alert>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="eenddate">Date de fin</label>
                        <input class="form-control" name="eEndDate" ng-model="event.endDate_f" placeholder="{{now.format('YYYY-MM-DD')}}" required type="date"/>
                    </div>
                    <div ng-show="addEventForm.$submitted || addEventForm.eEndDate.$touched">
                        <div ng-show="addEventForm.eBeginDate.$error.pattern">
                            <alert type="danger">Il faut rentrer une date.</alert>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="eenddate">Heure de fin</label>
                        <input class="form-control" name="eEndHour" ng-model="event.endTime_f" ng-pattern="/^([0-1][0-9]|2[0-3])\:[0-5][0-9]$/" placeholder="{{now.format('HH:MM')}}" required></input>
                    </div>
                    <div ng-show="addEventForm.$submitted || addEventForm.eendHour.$touched">
                        <div ng-show="addEventForm.eEndHour.$error.pattern">
                            <alert type="danger">Il faut rentrer une heure.</alert>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input  class="form-control btn-primary" type="submit" value="Modifier"/>
            </div>
        </form>
        <div class="form-group">
            <button class="form-control btn btn-danger" ng-click="deleteEvent(event)">Supprimer l'événement</button>
        </div>
        <alert ng-show="showErrors" type="danger">{{ errors }}</alert>
        <alert ng-show="showSuccess" type="success">{{ success }}</alert>
    </div>
</div>
