<h4>Ajouter un événement</h4>
<form novalidate>
  Titre :
  <input type="text" ng-model="eventAdded.title"></input>
  <br>
  Description :
  <input type="textarea" ng-model="eventAdded.description"></input>
  <br>
  Date de début :
  <input type="date" placeholder="aaaa-mm-jj" ng-model="eventAdded.beginDate.date"></input>
  Heure de début :
  <input type="time" placeholder="hh:mm:ss" ng-model="eventAdded.beginDate.time"></input>
  <br>
  Date de fin :
  <input type="date" placeholder="aaaa-mm-jj" ng-model="eventAdded.endDate.date"></input>
  Heure de fin :
  <input type="time" placeholder="hh:mm:ss" ng-model="eventAdded.endDate.time"></input>
  <br>
  <button type="submit" ng-click="addEvent()">Ajouter</button>
  {{add.errors}}
  {{add.success}}
</form>

<h4>Modifier un évènement<h4>
  <form novalidate>
    Titre :
    <input type="text" ng-model="eventEdited.title"></input>
    <br>
    Description :
    <input type="textarea" ng-model="eventEdited.description"></input>
    <br>
    Date de début :
    <input type="date" placeholder="aaaa-mm-jj" ng-model="eventEdited.beginDate.date"></input>
    Heure de début :
    <input type="time" placeholder="hh:mm:ss" ng-model="eventEdited.beginDate.time"></input>
    <br>
    Date de fin :
    <input type="date" placeholder="aaaa-mm-jj" ng-model="eventEdited.endDate.date"></input>
    Heure de fin :
    <input type="time" placeholder="hh:mm:ss" ng-model="eventEdited.endDate.time"></input>
    <br>
    <button type="submit" ng-click="EditEvent()">Ajouter</button>
    {{add.errors}}
    {{add.success}}
  </form>
