<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <h1 class="gill">Dernière proj'</h1>
            <div class="row" id="last-proj-poster-container">
                <div class="col-xs-8 col-xs-offset-2">
                    <img id="last-proj-poster" src="{{lastProj.poster}}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div id="last-proj-title">
                        <span class="gill">{{lastProj.title}}</span>
                    </div>
                    <div id="last-proj-description">
                        <span class="text-muted" id="last-proj-date">Projeté
                            {{lastProj.date.fromNow()}}
                        </span>
                        –
                        {{lastProj.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-8">
            <h1 class="gill">Récemment sur vos écrans</h1>
            <div class="row">
                <jtx-thumbnail ng-model="proj" ng-repeat="proj in recentProjs"></jtx-thumbnail>
            </div>
        </div>
    </div>
</div>
</div>
