<div class="container-fluid">
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <h1 class="gill">Dernière proj'</h1>
            <div class="row" id="last-proj-poster-container">
                <div class="col-xs-8 col-xs-offset-2">
                    <img id="last-proj-poster" src="{{lastProj.poster}}">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div id="last-proj-title">
                        <span class="gill">{{lastProj.title}}</span>
                    </div>
                    <div id="last-proj-description">
                        <span class="text-muted" id="last-proj-date">Projeté {{lastProj.date.fromNow()}}</span>
                        –
                        {{lastProj.description}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-lg-8">
            <h1 class="gill">Récemment sur vos écrans</h1>
                <div class="col-md-4 col-lg-3 col-sm-6 proj-thumb-col" ng-repeat="proj in recentProjs">
                    <div class="proj-thumb-container">
                        <div class="proj-thumb-poster-container">
                            <img alt="{{proj.title}}" src="{{proj.poster}}">
                        </div>
                        <div ui-sref="index.admin.projection.edit({projectionId : {{proj.id}}})" class="text-center proj-thumb-data-container">
                            <div class="proj-thumb-title">{{proj.title}}</div>
                            <div class="proj-thumb-date">Projeté {{proj.date.fromNow()}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
