<div id="background-left" class="hidden-sm hidden-xs"></div>
<div id="background-right" class="hidden-sm hidden-xs"></div>
<div ui-view="navbar"></div>
<div ui-view=""></div>
<footer>
    <div class="container">
        <p class="text-muted">© JTX 2013 –
            <a ui-sref='index.binet'>Le binet</a>
            –
            <a ui-sref='index.legal'>Mentions légales</a>
            –
            <a ui-sref='index.login'>Connexion</a>
            –
            <a ng-click='logout()'>Déconnexion</a>
        </p>
    </div>
</footer>
</div>
