/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer .container {
    text-align: center;
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

/* Navbar part */

div .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div #logocol {
    text-align:center;
    padding-top: 15px;
}

div #searchcol {
    text-align: center;
    padding-top: 15px;
}
div #linkcol {
    text-align: center;
    padding-top: 15px;
}
div #linkcol .link {
    padding: 10px;
}

/* Home page */

div #last-proj {
    background-image: url(../../../assets/images/rond.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}

#last-proj-poster {
    margin-top : 50px;
    border : solid 5px;
}

/* Admin page */

#adminPanel div .panel {
    text-align: center;
}
#adminPanel div .panel-heading {
    font-weight: bold;
}
