.footer .container {
  text-align:center;
}

/* Navbar part */
div #navbar {
}

div #logocol {
  padding-top: 15px;
}

div #searchcol {
  text-align:center;
  padding-top: 15px;
}

div #linkcol {
  text-align:right;
  padding-top: 15px;
}

div #linkcol .link {
  border-left: solid 1pt;
  padding:10px;
}

div #linkcol #link-right {
  border-right: solid 1pt;
}


/* Videogular player */
.videogular-container {
	width: 100%;
	height: 320px;
	margin: auto;
	overflow: hidden;
}

@media (min-width: 1200px) {
	.videogular-container {
		width: 1170px;
		height: 658.125px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.videogular-container {
		width: 940px;
		height: 528.75px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.videogular-container {
		width: 728px;
		height: 409.5px;
	}
}
