<div id="navbar" role="navigation">
	<div class="col-md-1 col-md-offset-1" id="logocol">
		<a ui-sref="index">
			<img src="assets/images/logo.png" height="50" alt="Logo"/>
			<span id="brand">JTX</span>
		</a>
	</div>
	<div class="col-md-4" id="searchcol">
		<form>
			<div class="input-group">
				<input type="text" class="form-control" ng-model="search" placeholder="Rechercher...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" /></button>
				</span>
			</div>
		</form>
	</div>
	<div class="col-md-6" id="linkcol">
		<span class="link">
			<a ui-sref='index'>
				<span class="glyphicon glyphicon-home"></span>&nbsp;Accueil
			</a>
		</span>
		<span class="link">
			<a ui-sref='index.video'>
				<span class="glyphicon glyphicon-film"></span>&nbsp;Projections JTX
			</a>
		</span>
		<span class="link">
			<a ui-sref='index.search'>
				<span class="glyphicon glyphicon-search"></span>&nbsp;Recherche
			</a>
		</span>
		<span class="link" id="link-right">
			<a ui-sref='index.admin'>
				<span class="glyphicon glyphicon-cog"></span>&nbsp;Administration
			</a>
		</span>

	</div>
</div>
