<div id="navbar" role="navigation">
    <div class="col-sm-2 vcenter" id="logocol">
        <a ui-sref="index">
            <img alt="Logo" width="100%" src="assets/images/logoJTX.jpg"/>
        </a>
    </div>
    <div class="col-md-5 vcenter" id="linkcol">
        <span class="link">
            <a ui-sref='index'>
                Accueil
            </a>
        </span>
        <span class="link">
            <a ui-sref='index.video'>
                Projections JTX
            </a>
        </span>
        <span class="link">
            <a ui-sref='index.search'>
                Recherche
            </a>
        </span>
        <span class="link" id="link-right">
            <a ui-sref='index.admin'>
                Administration
            </a>
        </span>
    </div>
    <div class="col-md-4 vcenter" id="searchcol">
        <form>
            <div class="input-group">
                <input class="form-control" ng-model="search" placeholder="Rechercher..." type="text">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><span  class="glyphicon glyphicon-search"/></button>
                </span>
            </div>
        </form>
    </div>
</div>
