<span ng-switch="data.key">
  <span class="glyphicon glyphicon-user" ng-switch-when="Acteur"></span>
  <span class="glyphicon glyphicon-bullhorn" ng-switch-when="Réalisateur"></span>
  <span class="glyphicon glyphicon-sunglasses" ng-switch-when="Objet"></span>
  <span class="glyphicon glyphicon-folder-open" ng-switch-when="Catégorie"></span>
  <span class="glyphicon glyphicon-map-marker" ng-switch-when="Lieu"></span>
  <span class="glyphicon glyphicon-film" ng-switch-when="JTX"></span>
  <span class="glyphicon glyphicon-apple" ng-switch-when="Binet"></span>
  <span class="glyphicon glyphicon-tag" ng-switch-when="Autre"></span>
</span>
<span ng-bind="$getDisplayText()"></span> <a class="remove-button" ng-click="$removeTag()" ng-bind="::$$removeTagSymbol"></a>
