<div class="form-group">
  <tags-input  ng-model="tagsInput" display-property="value" template="app/components/common/tag-display.html" min-length=2 placeholder="Ajouter un tag">
    <auto-complete source="loadTags()" template="app/components/common/tag-display.html" min-length=2></auto-complete>
  </tags-input>
</div>
<div class="form-inline">
  <div class="form-group">
    <label for="jtx-tag-input-add">Ajouter un tag :</label>
    <select id="jtx-tag-input-add" class="form-control" ng-model="tagToBeAdded.key">
      <option value="Acteur">Acteur</option>
      <option value="Réalisateur">Réalisateur</option>
      <option value="Object">Objet</option>
      <option value="Lieu">Lieu</option>
      <option value="Catégorie">Catégorie</option>
      <option value="JTX">JTX</option>
      <option value="Binet">Binet</option>
      <option value="Autre">Autre</option>
    </select>
  </div>
  <div class="form-group">
    <label class="sr-only" for="jtx-tag-input-add-text">Ajouter un tag :</label>
    <input ng-model="tagToBeAdded.value" class="form-control" id="jtx-tag-input-add-text" type='text'></input>
  </div>
  <button class="btn btn-primary" ng-click='addTag(tagToBeAdded)'>Ajouter</button>
</div>
