<div class="container">
    <h4>Modifier la projection n°
        {{projection.id}}
        :
        {{projection.title}}
    </h4>
    <div class="well">
        <form name="addProjectionForm" ng-submit="editProjection(projection)">
            <div class="form-group">
                <label for="etitle" tooltip="Le titre de l'événement doit contenir le nom et l'année de l'événement.">Titre</label>
                <input class="form-control" id="etitle" name="eTitle" ng-model="projection.title" required type="text"></input>
            </div>
            <div class="form-group">
                <label for="edescription" tooltip="Bref récapitulatif de l'événement, avec éventuellement quelques faits marquants.">Description</label>
                <textarea class="form-control" id="edescription" ng-model="projection.description" type="textarea"></textarea>
            </div>
            <jtx-tag-input ng-model="projection.tags"></jtx-tag-input>
            <div class="form-group">
                <label for="eDate">Date</label>
                <p class="input-group">
                    <input class="form-control" date-disabled="disabled(date, mode)" date-format="YYYY-MM-DD" datepicker-options="" datepicker-popup="dd/MM/yyyy" is-open="opened" ng-click="open($event)" ng-model="projection.date_f" show-button-bar="false" starting-day="1" type="text"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)" type="button">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="form-group">
                <label for="eEvent">Événement</label>
                <input type="text" typeahead-editable="false" ng-model="projection.event" placeholder="Titre de l'événement" typeahead="event as event.title for event in events | filter:{title:$viewValue}" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control btn-primary" type="submit" value="Modifier"/>
            </div>
        </form>
        <div class="form-group">
            <button class="form-control btn btn-danger" ng-click="deleteProjection(projection)">Supprimer l'événement</button>
        </div>
        <alert ng-show="showErrors" type="danger">{{ errors }}</alert>
        <alert ng-show="showSuccess" type="success">{{ success }}</alert>
    </div>
</div>
