/* ------------------------------
            Common
-----------------------------------

/* Changes the mouse to a hand when hovering ng-click elements */

[ui-sref], [ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer .container {
    text-align: center;
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

/* Font */

@font-face {
    font-family: "Gill Sans";
    src: url('../fonts/Gill_Sans_Light.ttf');
}
@font-face {
    font-family: "Gill Sans";
    font-weight: bold;
    src: url('../fonts/Gill_Sans_Bold.ttf');
}
.gill {
    font-family: "Gill Sans"
}

/* Navbar part */

nav .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
nav #logocol {
    text-align: center;
    padding-top: 15px;
    max-width: 200px;
    z-index: 1;
}
nav #searchcol {
    text-align: center;
    padding-top: 15px;
}
nav #linkcol {
    padding-top: 15px;
}
nav #linkcol div {
    display: table;
    border-collapse: collapse;
    border: none;
    width: 100%;
}
nav #linkcol ul {
    display: table-row;
}
nav #linkcol .link {
    text-align: center;
    display: table-cell;
    margin: 0;
    padding: 5px;
    font-size: 1.3em;
    font-family: "Gill Sans";
    text-transform: uppercase;
}
nav #linkcol .link.active-page a span {
    border-bottom: solid 1px;
    border-color: #333;
    padding-bottom: 5px;
}
nav #linkcol .link a, nav #linkcol .link a:hover {
    color: #333;
    display: block;
    text-decoration: none;
    outline: 0;
}

/* Home page */

#last-proj-poster-container {
    background-image: url(../images/rond.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: 15px;
    margin-right: 15px;
}
#last-proj-poster {
    margin-top: 20%;
    margin-bottom: 20%;
    border: solid 5px;
    width: 100%;
    height: auto;
}
#last-proj-title {
    text-align: center;
    font-size: 2em;
    font-family: "Gill Sans";
    font-weight: bold;
}
.margin-row {
    margin-bottom: 15px
}
.proj-thumb-col {
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
}
.proj-thumb-container {
    position: relative;
}
.proj-thumb-container:before {
    content: "";
    display: block;
    padding-top: 100%;
}
.proj-thumb-poster-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.proj-thumb-poster-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.proj-thumb-data-container {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(57, 57, 57);
    color: rgb(227, 227, 227);
}
.proj-thumb-title {
    font-size: 1.5em;
    font-family: "Gill Sans";
    font-weight: bold;
}
.proj-thumb-date {}

/* Admin page */

#adminPanel div .panel {
    text-align: center;
}
#adminPanel div .panel-heading {
    font-weight: bold;
    font-family: "Gill Sans"
}

/* Projection page */

@media(min-width:768px) {
    .projection-col {
        display: table-cell;
        float: none;
        vertical-align: middle;
    }
    #projection-video-list {
        overflow: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
.projection-video-poster {
    height: auto;
    width: 100px;
}
#projection-video-list {
    overflow: auto;
    max-height: 400px;
}
#projection-title {
    font-family: "Gill Sans";
    font-weight: bold;
}
.projection-video-title {
    font-family: "Gill Sans"
}
#projection-video-list-container {
    max-height: 100%;
}
#projection-poster {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* Video page */

span#date_diffusion {
    float: left;
}
span#views {
    float: right
}
div#clear {
    clear: both;
    margin-bottom: 10px
}
