/* ------------------------------
            Common
-----------------------------------

/* Changes the mouse to a hand when hovering ng-click elements */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}
.footer .container {
    text-align: center;
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

/* Navbar part */

nav .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

nav #logocol {
    text-align:center;
    padding-top: 15px;
    max-width:200px;
    z-index:1;
}

nav #searchcol {
    text-align: center;
    padding-top: 15px;
}
nav #linkcol {
    padding-top: 15px;
}

nav #linkcol div {
    display: table;
    border-collapse: collapse;
    border: none;
    width: 100%;
}

nav #linkcol ul {
    display: table-row;
}

nav #linkcol .link {
    text-align:center;
    display: table-cell;
    margin: 0;
    padding:5px;
    font-size: 1.3em;
    font-family: "Gill Sans";
    text-transform: uppercase;
}

nav #linkcol .link.active-page a span {
    border-bottom: solid 1px;
    border-color: #333;
    padding-bottom: 5px;
}

nav #linkcol .link a, nav #linkcol .link a:hover {
    color:#333;
    display:block;
    text-decoration: none;
    outline:0;
}

/* Home page */

#last-proj-poster-container {
    background-image: url(../images/rond.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


#last-proj-poster, .proj-poster {
    border : solid 5px;
}

.recent-projs-row {
    margin-bottom:15px
}

/* Admin page */

#adminPanel div .panel {
    text-align: center;
}
#adminPanel div .panel-heading {
    font-weight: bold;
    font-family: "Gill Sans"
}

/* Video page */

span#date_diffusion {
    float:left;
}
span#views {
    float:right
}

div#clear {
    clear: both;
    margin-bottom: 10px
}

/* Font */

@font-face {
    font-family: "Gill Sans";
    src: url('../fonts/Gill_Sans_Light.ttf');
}

@font-face {
    font-family: "Gill Sans";
    font-weight: bold;
    src: url('../fonts/Gill_Sans_Bold.ttf');
}

.gill {
    font-family: "Gill Sans"
}
