main#projection #projection-title-row div {
    text-align: center;
}
main#projection #projection-title {
    font-size: 4em;
    font-family: "Gill Sans";
    font-weight: bold;
}
main#projection #projection-list-col #projection-list {
    overflow: auto;
    max-height: 400px;
}
main#projection #projection-videos-list .projection-video-title {
    font-size: 1.2em;
    font-weight: bold;
}
main#projection #projection-video-list img {
    height: auto;
    width: 100px;
}
