<script id="tag-display-autocomplete.html" type="text/ng-template">
    <a>
        <span ng-switch="match.model._type">
            <span class="glyphicon glyphicon-user" ng-switch-when="Acteur" tooltip="Acteur"></span>
            <span ng-switch-when="Acteur">
                Acteur :</span>
            <span class="glyphicon glyphicon-bullhorn" ng-switch-when="Réalisateur" tooltip="Réalisateur"></span>
            <span ng-switch-when="Réalisateur">
                Réalisateur :</span>
            <span class="glyphicon glyphicon-sunglasses" ng-switch-when="Objet" tooltip="Objet"></span>
            <span ng-switch-when="Objet">
                Objet :</span>
            <span class="glyphicon glyphicon-folder-open" ng-switch-when="Catégorie" tooltip="Catégorie"></span>
            <span ng-switch-when="Catégorie">
                Catégorie :</span>
            <span class="glyphicon glyphicon-map-marker" ng-switch-when="Lieu" tooltip="Lieu"></span>
            <span ng-switch-when="Lieu">
                Lieu :</span>
            <span class="glyphicon glyphicon-film" ng-switch-when="JTX" tooltip="JTX"></span>
            <span ng-switch-when="JTX">
                JTX</span>
            <span class="glyphicon glyphicon-apple" ng-switch-when="Binet" tooltip="Binet"></span>
            <span ng-switch-when="Binet">
                Binet :</span>
            <span class="glyphicon glyphicon-tag" ng-switch-when="Autre" tooltip="Autre"></span>
            <span ng-switch-when="Autre">
                Autre :</span>
        </span>
        <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
    </a>
</script>
<h4>Modifier un tag</h4>
<div class="well">
    <div class="row">
        <div class="col-md-5">
            <input class="form-control" ng-model="selectedTag" placeholder="Rechercher un tag" type="text" typeahead-template-url="tag-display-autocomplete.html" typeahead="tag as tag.value for tag in tags | filter:{value:$viewValue}">
        </div>
        <div class="col-md-7">
            <form class="form-inline" ng-submit="editTag(selectedTag)">
                <button class="btn btn-info">
                    <span ng-if="selectedTag.id">Tag n°{{selectedTag.id}}</span>
                    <span ng-if="!selectedTag.id">Pas de tag séléctionné</span>
                </button>
                <span class="form-group">
                    <label class="sr-only" for="jtx-tag-input-add">Catégorie du tag :</label>
                    <select class="form-control" ng-disabled="!selectedTag._type" ng-model="selectedTag._type" tooltip="Type de tag">
                        <option value="JTX">JTX</option>
                        <option value="Acteur">Acteur</option>
                        <option value="Réalisateur">Réalisateur</option>
                        <option value="Objet">Objet</option>
                        <option value="Lieu">Lieu</option>
                        <option value="Catégorie">Catégorie</option>
                        <option value="Binet">Binet</option>
                        <option value="Autre">Autre</option>
                    </select>
                </span>
                <span class="form-group">
                    <label class="sr-only" for="jtx-tag-input-add-text">Valeur du tag (texte) :</label>
                    <input class="form-control" id="jtx-tag-input-add-text" ng-disabled="!selectedTag.value" ng-model="selectedTag.value" required tooltip="Texte du tag" type='text'></input>
                </span>
                <input  class="form-control btn-primary" type="submit" value="Modifier"/>
            </form>
        </div>
    </div>
</div>
<alert ng-show="showErrors" type="danger">{{ errors }}</alert>
<alert ng-show="showSuccess" type="success">{{ success }}</alert>
<table class="table">
    <caption>Vidéos utilisant le tag sélectionné.</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table>
