<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
            <h2 class="text-center gill">{{ video.title }}</h2>
            <jtx-video-player video="video"></jtx-video-player>
            <div class="text-muted">
                <span id="date_diffusion">Première diffusion le {{video.date_diffusion.format('d MMMM YYYY')}}</span>
                <span id="views">Nombre de vues : {{video.views}}</span>
                <div id="clear"></div>
            </div>
            <p>{{ video.description }}</p>
        </div>
        <div class="col-sm-3 text-center">
            <h2>&nbsp;</h2>
            <img src="assets/images/bonhommefonce.png" width="60%">
        </div>
    </div>
</div>
