<div class="row">
	<div class="col-sm-10 col-sm-offset-1" align="center">
		<video id="video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto">
            <source data-res="720" src="assets/videos/Basile_content.mp4" type="video/mp4" />
            <source data-res="720" src="assets/videos/Basile_content.webm" type="video/webm" />
			<!-- <track kind="assets/videos/demonsdesylvie.vtt" srclang="fr" label="Français" default> -->
            <p class="vjs-no-js">Pas de JS...</p>
		</video>
	</div>
</div>
