<div class="videogular-contrainer">
    <videogular vg-player-ready="vpCtl.onPlayerReady($API)" vg-theme="vpCtl.config.theme">
        <vg-media vg-src="vpCtl.config.sources" vg-tracks="vpCtl.config.tracks"></vg-media>
        <vg-controls vg-autohide-time="vpCtl.config.plugins.controls.autohideTime" vg-autohide="vpCtl.config.plugins.controls.autohide">
            <vg-play-pause-button></vg-play-pause-button>
            <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
            <vg-scrub-bar>
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            </vg-scrub-bar>
            <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
            <vg-volume>
                <vg-mute-button></vg-mute-button>
                <vg-volume-bar></vg-volume-bar>
            </vg-volume>
            <vg-fullscreen-button></vg-fullscreen-button>
        </vg-controls>

        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-poster vg-url="vpCtl.config.plugins.poster"></vg-poster>
    </videogular>
<a ng-click="vpCtl.toggleSubtitles()">Sous-titres</a>
</div>
