<main class="container-fluid" id="video">
    <div class="row">
        <div class="col-md-8" id="video-player-col">
            <div id="video-title">{{ videoCtl.video.title }}</div>
            <jtx-video-player video="videoCtl.video"></jtx-video-player>
            <div class="text-muted">
                <span id="video-date">Première diffusion le
                    {{ videoCtl.video.date_diffusion.format('DD/MM/YYYY') }}</span>
                <span id="video-views">Nombre de vues :
                    {{ videoCtl.video.views }}</span>
                <div id="video-clear"></div>
            </div>
            <p>{{ videoCtl.video.description }}</p>
        </div>
        <div class="col-md-4" id="video-playlist-col">
            <div class="row" id="video-playlist-col-header">
                <div class="col-xs-4">
                    <img id="video-playlist-icon" src="assets/images/bonhommefonce.png">
                </div>
                <div class="col-xs-8">
                    <div id="video-playlist-title">Playlist</div>
                </div>
            </div>
            <div class="row" ng-repeat="video in videoCtl.playlist" ui-sref="index.video({id: videoCtl.video.id})">
                <div class="col-xs-4">
                    <img alt="{{ video.title }}" class="img-responsive" ng-src="{{ video.poster }}">
                </div>
                <div class="col-xs-8 video-playlist-data-container" tooltip="{{ video.description }}">
                    <div class="video-playlist-title">{{ video.title }}</div>
                    <div class="video-playlist-description">{{ video.views }} vues</div>
                </div>
            </div>
        </div>
    </div>
</main>
