<main id="projection" class="container-fluid">
    <div class="row" id="projection-main-row">
        <div class="col-lg-6 col-md-8" id="projection-player-col">
            <jtx-video-player video="videos[0]"></jtx-video-player>
            <div id="projection-title">{{proj.title}}</div>
            <p class="text-muted">Projeté le
                {{proj.date.format('DD/MM/YYYY')}}</p>
            <p>{{proj.description}}</p>
        </div>
        <div class="col-lg-3 col-md-4" id="projection-list-col">
            <div id="projection-list">
                <ol>
                    <li ng-repeat="video in videos">
                        {{video.title}}
                    </li>
                </ol>
            </div>
        </div>
        <div class="col-lg-3 hidden-sm hidden-xs hidden-md" id="projection-poster-col">
            <img alt="{{proj.title}}" id="projection-poster" src="{{proj.poster}}">
        </div>
    </div>
<hr>
<div class="row" id="projection-videos-list">
    <div class="col-sm-6" ng-repeat="video in videos">
        <div class="col-md-3 col-sm-4">
            <img alt="{{video.title}}" class="img-responsive" src="{{video.poster}}">
        </div>
        <div class="col-md-9 col-sm-8">
            <div class="projection-video-title">{{video.title}}</div>
            <p>{{video.description}}</p>
        </div>
    </div>
</div>
</main>
